.hidden {
    display: none;
}

#cd{
    display: flex;
    justify-content: center;
    /* position:absolute;
    left: 620px;
    top: 40px; */
    margin-top: 50px;
}



.bgImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1px;
    font-size: 60px;
    color:rgb(247, 210, 221);  
}


#login-form {
    position:absolute;
    top: 300px;
    left: 560px;
    
}

#loginInput{
    background-color: transparent;
    outline: none;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    font-family: 'Nanum Myeongjo', serif;
}

h1 {
    position:absolute;
    top: 300px;
    left: 578px;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    color: rgb(110, 107, 104);
}

#weather {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 12px;
}

#place {
    margin-left: 5px;
    color: rgb(107, 107, 107);
}

#quote {
    font-family: 'Nanum Myeongjo', serif;}

#qText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(96, 113, 124);
    font-size: 13px;
    margin-top: 180px;

}

#qTitle {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: indigo;
    margin-top: 5px;
}


#todo-form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#todoInput {
    background-color: transparent;
    outline: none;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:0.2;
    font-family: 'Nanum Myeongjo', serif;
    
}

#todo-list {
    
    position: absolute;
    left:620px;
    font-family: 'Nanum Myeongjo', serif;
    list-style: none;
    padding: 0;
}

input::placeholder {
    text-align: center;
}

.button {
    background-color: transparent ;
    background-image: none;
    border-color: transparent;
    border: none;


}

#todayWeather {
 color: rgb(107, 107, 107);
}

#place {
    top: 50px;
}

