.hidden {
    display: none;
}

#cd{
    position:absolute;
    left: 430px;
    top: 12px;
}



.bgImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2px;
    font-size: 60px;
    color:rgb(255, 188, 246);  
}


#login-form {
    position:absolute;
    top: 320px;
    left: 555px;
    
}

h1 {
    position:absolute;
    top: 100px;
    left: 500px;
    font-family: 'Gowun Dodum', sans-serif;
}

#weather {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    font-family: 'Zen Kurenaido', sans-serif;
}

#place {
    margin-left: 5px;
    color: rgb(107, 107, 107);
}


#qText {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: rgb(51, 93, 192);
}

#qTitle {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#todo-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#todo-list {
    position:absolute;
    top: 400px;
}

#todayWeather {
 color: rgb(107, 107, 107);
}

#place {
    top: 50px;
}

