.hidden {
    display: none;
}

/* html{
    width:100vw;
    height: 100vh;
} */


.bgImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    top:30px;
    font-size: 80px;
    color:rgb(188, 136, 223);  
}


#login-form {
    position:absolute;
    top: 180px;
    left: 1150px;
    
}

h1 {
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 30px;
}

#weather {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}



#qText {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: rgb(51, 93, 192);
}

#qTitle {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#todo-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#todo-list {
    position:absolute;
    top: 400px;
}

#todayWeather {
 color: brown;
}

#place {
    top: 50px;
}

